body {
	font-size: 12px;
	background-color: #fff;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.title1 a {
	padding-right: 8px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	line-height: 34px;
	transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;	
	-o-transition: color 0.3s linear;	
	-webkit-transition: color 0.3s linear;	
}

.title2 a {
	font-size: 14px;
	color: #333;
	line-height: 24px;
}

.p1 a {
	color: #777;
	line-height: 22px;
	margin-right: 6px;
}

.p1 a:hover {
	color: #2F6CEB;
}

.p2 a {
	width: 452px;
	color: #777;
	line-height: 24px;
}

.p2 a:hover {
	color: #f60;
}

.member-header {
	border-bottom: 0px solid;
}

/* 头部开始 */
/* 搜索框开始 */
.search {
	margin: 30px 0 0 30px;
	width: 453px;
}

.search-text {
	float: left;
}

.search-text input{
	padding-left: 20px;
	width: 339px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 4px 0 0 4px;
	box-shadow: 1px 1px 3px #F3F3F3 inset;
}

.search-btn {
	float: left;
}

.search-btn input {
	padding-left: 18px;
	width: 86px;
	height: 38px;
	border-radius: 0 4px 4px 0;
	font: bold 14px "Microsoft Yahei";
	color: #fff;
	background: #F60 url(../images/search.png) no-repeat 18px 15px;
	cursor: pointer;
}

.search-hot {
	float: left;
	margin: 10px 0;
	overflow: hidden;
}

.search-hot,
.search-hot a {
	color: #8C8C8C;
}

.search-hot a:hover {
	text-decoration: underline;
}

.search-hot a {
	display: inline-block;
	margin-right: 10px;
}
/* 搜索框结束 */
/* 头部结束 */

/* 导航栏开始 */
.index-nav {
	margin-top: 35px;
	width: 100%;
	background-color: #2F6CEB;
}

.nav-list {
	float: left;	
	width: 726px;
	height: 40px;
}

.nav-list li {
	float: left;
}

.nav-list a {
	display: block;
	padding: 0 20px;	
	font-size: 14px;
	color: #fff;
	line-height: 40px;	
	text-align: center;	
}

.nav-list a:hover {
	background-color: #2760CE;
}

/* 分类开始 */

.top {
	top: 0;
}

.bottom {
	bottom: 0;
}

.category {
	position: relative;
	float: left;
}


.category .bg {
	position: absolute;
	z-index: 2;
	left: -8px;
	top: -10px;
	width: 236px;
	height: 55px;
	background: url(../images/index_bg_2014.png) no-repeat  0px 0px;	
}

.ctg-list {
	position: absolute;
	z-index: 1;
}

.ctg-list li {
	width: 220px;
}

.ctg-title a.b {
	position: absolute;
	z-index: 3;
	display: block;
	width: 220px;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	text-align: center;	
}

.ctg-title a.a {
	display: block;
	width: 220px;
	font-size: 14px;
	color: #fff;
	line-height: 40px;
	text-align: center;	
}

.ctg-list li:hover .sub-ctg2 {
	padding: 10px 20px 0;
	display: block;
}

.ctg-list li:hover .sub-ctg1 {
	width: 186px;
	height: 99px;
	border: 2px solid #2F6CEB;
}

.ctg-list li:hover .title1 a {
	color: #2F6CEB;
}

.ctg-list li:hover .title1 .i1 {
	background-position: -84px -213px;
}
.ctg-list li:hover .title1 .i2 {
	background-position: -112px -207px;
}
.ctg-list li:hover .title1 .i3 {
	background-position: -84px -228px;
}
.ctg-list li:hover .title1 .i4 {
	background-position: -129px -211px;
}
.ctg-list li:hover .title1 .i5 {
	background-position: -112px -234px;
}


.ctg-list li .title2 a:hover {
	color: #F60;
}

.sub-ctg1 {
	padding: 0 15px;
	height: 101px;
	border: 1px solid #ccc;
	border-top: 1px solid #fff;
	background-color: #fff;
}

.sub-ctg1 i {
	background: url(../images/index_bg_2014.png) no-repeat;
}

.sub-ctg1 .i1 {
	margin: 0 3px 0 0;
	width: 25px;
	height: 13px;
	background-position: -70px -61px;
}

.sub-ctg1 .i2 {
	margin: 0 8px 0 5px;
	width: 15px;
	height: 25px;
	background-position: -96px -57px;
}

.sub-ctg1 .i3 {
	margin: 0 4px 0 0;
	width: 24px;
	height: 22px;
	background-position: -164px -57px;
}

.sub-ctg1 .i4 {
	margin: 0 4px 0 0;
	width: 24px;
	height: 15px;
	background-position: -113px -61px;
}

.sub-ctg1 .i5 {
	margin: 0 5px 0 0;
	width: 23px;
	height: 23px;
	background-position: -139px -57px;
}



.sub-ctg2 {
	position: absolute;
	z-index: 0;
	left: 220px;
	padding: 0 20px;
	display: none;
	height: 333px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.sub-ctg2 .detail1 {
	padding-top: 15px;
	padding-bottom: 15px;
	float: left;
	width: 505px;
	border-bottom: 1px solid #ddd;
}

.sub-ctg2 .detail1 p.title2 {
	padding: 0 0 0 10px;
	float: left;
	width: 50px;
	color: #333;
	font-size: 14px;
	line-height: 28px;
}

.sub-ctg2 .detail1 p.p2 {
	float: left;
	width: 440px;
	color: #8c8c8c;
	line-height: 28px;
}

.sub-ctg2 .detail1 p.p2 a {
	margin-right: 7px;
}
.sub-ctg2 .detail2 {
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;	
}

.sub-ctg2 .detail2 li {
	float: left;
	width: 160px;
	margin-right: 5px;
}

.sub-ctg2 .detail2 img {
	display: block;
	width: 160px;
	height: 92px;
}
/* 分类结束 */
/* 导航栏结束 */

/* top开始 */
.topSide {
	position: fixed;
	z-index: 99;
	top: 200px;
	right: -62px;
	width: 117px;
	height: 400px;
}

.topSide li {
	position: relative;
	margin: 0 0 10px;
	width: 117px;
	height: 60px;
}

.topSide b {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 55px;
	height: 60px;
	background: url(../images/index_bg_2014.png) no-repeat;
}

.topSide b.orange {
	background-position: -110px -416px;
}

.topSide b.blue {
	background-position: -176px -416px;
}

.topSide b.sky {
	background-position: -175px -207px;
}

.topSide b.green {
	background-position: -175px -272px;
}

.topSide i {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	width: 50px;
	height: 40px;
}

.topSide i.online {
	background: url(../images/kf_lives.gif);
}

.topSide i.qq {
	background: url(../images/kf_qqs.gif);
}

.topSide span {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 55px;
	display: block;
	width: 62px;
	height: 60px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	line-height: 60px;
}

.topSide span.orange {
	background: #FF6600;
}

.topSide span.blue {
	background: #2F6CEB;
}

.topSide span.sky {
	background: #79BDE9;
}

.topSide span.green {
	background: #ACC42A;
}




/* top结束 */


/* 焦点栏开始 */
/* 图片焦点开始 */
.focus {
	margin: 0 auto;
}

.banner {
	position: relative;
	float: left;
	margin-left: 220px;
	width: 774px;
	height: 515px;
	overflow: hidden;
}

.banner .main {
	position: absolute;
	z-index: 0;
	left: 0;
	top: 0;
	width: 5500px;
	height: 514px;
}

.banner .main>li {
	float: left;
	width: 774px;
	height: 514px;	
}

.banner .big {
	float: left;
}

.banner .big img {
	display: block;
	width: 774px;
	height: 340px;
}

.banner .small {
	float: left;
	margin-top: 4px;
	border-bottom: 1px solid #ccc;
}

.banner .small>li {
	position: relative;	
	float: left;
	margin-left: 3px;
}

.banner .small img {
	display: block;
	width: 255px;
	height: 170px;	
}

.banner .price {
	position: absolute;
	right: 6px;
	top: 6px;
	display: block;
	width: 58px;
	height: 58px;
	border: 2px solid #f60;
	border-radius: 50%;
	color: #f60;
	font-weight: bold;
	font-size: 14px;
	line-height: 58px;
	text-align: center;
	background-color: #fff;
}

.banner .go {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 39px;
	color: #333;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	line-height: 39px;
	background-color: #fff;
	opacity: 0.8;
	transition: color 0.3s linear;
	-moz-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
}

.banner .go i {
	margin-top: -3px;
	margin-left: 5px;	
	width: 0;	
	border-color: transparent transparent transparent #f60;
	border-style: dashed dashed dashed solid;
	border-width: 5px 5px 5px 9px;
}

.banner .small li:hover .go {
	color: #f60;
}

.banner .point {
	position: absolute;
	z-index: 0;
	top: 60%;
	width: 100%;
	text-align: center;
}

.banner .point ul {
	width: 120px;
	margin: 0 auto;
}

.banner .point li {
	margin: 0 3px;
	width: 12px;
	height: 12px;
	float: left;
}

.banner .point a {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
}

.banner .point .on a {
	background-color: #f60;
}

.banner .point a:hover {
	/*background-color: #f60;*/
}
/* 图片焦点结束 */

/* 侧边开始 */
.slider {
	float: right;
	width: 187px;
	border: 1px solid #ccc;
}

.slider .serve {
	position: relative;
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.slider .serve li {
	display: block;
	float: left;
	font-size: 13px;
	line-height: 24px;
}

.slider .serve .face {
	background: url(../images/index_bg_2014.png) no-repeat 0 -85px;
	width: 91px;
	height: 91px;
	position: absolute;
	left: 105px;
	top: 30px;	
}

.slider i {
	display: block;
	float: left;
	line-height: 24px;
	background: url(../images/index_bg_2014.png) no-repeat;
}

.slider .i1 {
	margin: 5px 11px 0 12px;
	width: 16px;
	height: 14px;
	background-position: -129px -84px;
}

.slider .i2 {
	margin: 5px 9px 0 9px;
	width: 20px;
	height: 14px;
	background-position: -146px -84px;
}

.slider .i3 {
	margin: 5px 10px 0 10px;
	width: 19px;
	height: 16px;
	background-position: -168px -84px;
}

.slider .info {
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;	
}

.slider .info p {
	padding-bottom: 7px;
	font-weight: bold;
	font-size: 14px;
	line-height: 14px;
}

.slider .info li {
	margin-left: 15px;
	line-height: 26px;
}

.slider .info a {
	color: #8c8c8c;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.slider .info a:hover {
	color: #f60;
}

.slider .info i {
	border-color: transparent transparent transparent #333;
	border-style: dashed dashed dashed solid;
	border-width: 6px 0px 6px 10px;
	display: inline-block;
	font-size: 0;
	height: 0;
	margin-left: 15px;
	margin-right: 5px;
	overflow: hidden;
	width: 0;
	position: relative;
	top: 1px;	
}

.slider .hot {
	padding-top: 15px;
	padding-bottom: 20px;
	text-align: center;
}

.slider .hot p {
	position: relative;
	margin: 0 auto 5px;
	width: 114px;
	height: 43px;
	background: url(../images/index_bg_2014.png) no-repeat -82px -163px;
}

.slider .hot img {
	display: block;
	margin: 0 auto 10px;
	width: 180px;
	height: 90px;
}

.slider .quick {
	position: relative;
	margin: 0 auto;
	width: 84px;
	height: 34px;
	border: 2px solid #333;
	border-radius: 4px;
}

.slider .quick a {
	position: absolute;
	margin-left: -28px;
	color: #333;
	font-size: 13px;
	line-height: 33px;
}

.slider .quick i {
	position: absolute;
	margin-top: -22px;
	margin-left: 52px;
	border-color: transparent transparent transparent #f60;
	border-style: dashed dashed dashed solid;
	border-width: 5px 5px 5px 9px;
}

.slider .quick b {
	position: absolute;
	z-index: 1;
	left: -14px;
	top: -19px;
	display: block;
	width: 31px;
	height: 32px;
	background: url(../images/index_bg_2014.png) no-repeat -96px -85px;
}

.slider .hot:hover .quick {
	border-color: #f60;	
}

.p3 {
	position: absolute;
	left: -2px;
	top: 10px;
	display: inline-block;
	color: #f60;
	font-size: 16px;
	font-weight: bold;
}

.p4 {
	color: #8c8c8c;
	font-size: 12px;
	font-weight: bold;
}

.p5 {
	color: #333;
	font-size: 18px;
	font-weight: bold;
}

.p6 {
	position: absolute;
	left: 51px;
	top: -2px;	
	display: inline-block;
	width: 54px;
	height: 43px;
}
/* 侧边结束 */
/* 焦点栏结束 */

/* 低价开始 */
.mr40 {
	margin-right: 40px;
}

.onsale {
	margin: 47px auto 0;
	padding-bottom: 47px; 
	border: 1px solid #ccc;
}

.onsale .title {
	margin: 0 auto 15px;
	width: 631px;
	height: 50px;
	background: #fff url(../images/index_bg_1.png) no-repeat;
}

.onsale .content {
	margin: 0 auto;
	width: 1060px;
}

.onsale .content1,
.onsale .content2 {
	float: left;
	margin-top: 40px;
}

.onsale .content li {
	float: left;
}

.onsale .content1 img {
	display: block;
	width: 500px;
	height: 200px;
}

.onsale .content2 img {
	display: block;
	width: 320px;
	height: 150px;
}
/* 低价结束 */

/* 新品开始 */
.mr10 {
	margin-right: 10px;
}

.new {
	margin: 47px auto 60px;
}

.new .title {
	padding: 10px 0 10px 19px;
	border-bottom: 2px solid #333;
}

.new .title i {
	width: 266px;
	height: 25px;
	background: #fff url(../images/index_bg_1.png) no-repeat 0 -52px;
}

.new .content {
	margin-top: 19px;
}

.new .content * {
	color: #fff;
}

.new .content li {
	float: left;
	width: 290px;
}

.new .content img {
	display: block;
	width: 290px;
	height: 230px;
}

.new .content i {
	display: inline-block;
	margin-top: -4px;
	padding: 0 3px;
	font-weight: bold;
	background: #f60;
}

.new .content .price {
	display: inline-block;
	margin-top: 13px;
	margin-left: -2px;
	padding: 0 4px;
	background-color: #f60;
}

.new .content .name {
	display: inline-block;
	margin-top: 13px;
	margin-left: 19px;
}

.new .content .name em {
	margin-right: 11px;
	font-weight: bold;
}

.new .content .name em,
.new .content a {
	color: #333;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.new .content a:hover,
.new .content a:hover * {
	color: #f60;
}
/* 新品结束 */
/* 频道开始 */
.floor {
	margin: 0 auto 30px;
}

.floor01 {
	margin-top: 60px;
}

.floor .f-aside {
	float: left;
	margin-top: 20px;
	width: 220px;
	height: 726px;
	background: url(../images/example.jpg) no-repeat;
	background-size: 220px 726px;
}

.floor .f-aside-title {
	margin-top: 107px;
	width: 220px;
	height: 140px;
	color: #333;
	text-align: center;
	background: url(../images/floor_tit_bg.png) no-repeat center;
}

.floor .f-aside-title span {
	float: left;
	width: 100%;
	display: block;
}

.floor .f-aside-title span:nth-child(1) {
	margin-top: 6px;
	font-size: 50px;
	font-weight: bold;
}

.floor .f-aside-title span:nth-child(2) {
	font-size: 20px;
	font-weight: bold;
}

.floor .f-aside-title span:nth-child(3) {
	font-size: 12px ;
	font-style: italic;
}

.floor .f-main {
	position: relative;
	float: left;
	margin-left: 5px;
	width: 965px;
}

.floor .f-main .tab-arrow {
	position: absolute;
	top: 35px;
	left: 0;
	width: 140px;
	border-bottom: 2px solid #f60;
}

.floor .f-main .tab-arrow i {
	position: absolute;
	top: -10px;
	left: 60px;
	width: 0;
	height: 0;
	border-width: 5px;
	border-color: transparent transparent #f60 transparent;
	border-style: solid;
}
.floor .f-main .t-list {
	float: left;
	width: 965px;
	border-bottom: 2px solid #333;
}

.floor .f-main .t-list li {
	float: left;
	width: 140px;
	height: 35px;
	text-align: center;
}

.floor .f-main .t-list li a {
	color: #333;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
}

.floor .f-main .t-list .on a {
	color: #f60;
}

.floor .f-main .t-list li a:hover {
	color: #f60;
}

.floor .f-main .t-list b {
	float: right;
	text-align: center;	
}

.floor .f-main .t-list b a {
	color: #f60;
	font-size: 14px;
	font-weight: bold;
	line-height: 35px;
}

.floor .f-main .content-list-wrap {
	width: 965px;
	height: 579px;
	overflow: hidden;
}

.floor .f-main .content-list {
	float: left;
	margin-top: 3px;
	width: 965px;
	height: 276px;
}

.floor .f-main .content-list>li {
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	width: 318px;
	height: 274px;
}

.floor .f-main .content-list>li img {
	display: block;
	width: 318px;
	height: 215px;
}

.floor .f-main .content-list dl {
	text-align: center;
}


.floor .f-main .content-list dl a {
	color: #8c8c8c;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.floor .f-main .content-list dl a:hover {
	color: #f60;
}

.floor .f-main .content-list dl i {
	color: #f60;
	font-size: 18px;
	font-weight: bold;
}

.floor .f-main .content-list dl em {
	position: relative;
	top: 2px;
	color: #8c8c8c;
	text-decoration: line-through;
}

.floor .f-main .content-list dd p:nth-child(1) {
	margin-top: 9px;
}

.floor .f-main .content-list dd p:nth-child(2) {
	margin-top: 3px;
}

.floor .f-main .content-list>li:nth-child(1) {
	position: relative;
	width: 642px;
	height: 295px;
}

.floor .f-main .content-list>li:nth-child(1) img {
	width: 642px;
	height: 295px;
}

.floor .f-main .content-list>li:nth-child(2) {
	margin-right: 0;
	height: 295px;
}

.floor .f-main .content-list>li:nth-child(2) img {
	height: 245px;
}

.floor .f-main .content-list>li:nth-child(5) {
	margin-right: 0;
}

.floor .f-main .hot-list {
	float: left;
	margin-top: -2px;
	padding: 10px 0;
	width: 957px;
	border: 1px solid #ccc;
}

.floor .f-main .hot-list dl {
	position: relative;
	float: left;
	margin-left: 8px;
	width: 160px;
	height: 107px;
}

.floor .f-main .hot-list dl:first-child {
	margin-left: 9px;
	width: 95px;
	overflow: hidden;
}

.floor .f-main .hot-list img {
	width: 160px;
	height: 107px;
}

.floor .f-main .hot-list dd {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	color: #fff;
	text-align: center;
	background: url(../images/f_hot_bg.png) repeat-x;
}

.floor .f-main .hot-list a:hover dd {
	display: block;
}

.floor .f-main .hot-list p:nth-child(1) {
	height: 36px;
}

.floor .f-main .hot-list p:nth-child(3) {
	margin: 4px auto;
	width: 76px;
	height: 26px;
	border: 2px solid #fff;
	border-radius: 2px;
	text-align: center;
	line-height: 26px;
}

.floor .f-main .hot-list i {
	margin: -1px 0 0 11px;
	border: 6px solid transparent;
	border-left: 8px solid #fff;
	border-right: 0;
}

.floor .f-main .hot-list .inner {
	padding: 10px;
}

.floor .content-list .c-big-list>li:nth-child(2) {
	display: none;
}

.floor .content-list .point {
	position: absolute;
	z-index: 0;
	right: 25px;
	bottom: 15px;
}

.floor .content-list .point li {
	float: left;
}

.floor .content-list .point a {
	display: inline-block;
	margin: 0 9px 0 0;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ccc;
}

.floor .content-list .point .on a {
	background-color: #f60;
}

.floor .content-list .point a:hover {
	background-color: #f60;
}


/* 频道结束 */


/* 装修汇开始 */

.decor {
	margin-top: 37px;
	margin-bottom: 47px;
}

.decor .d-title {
	color: #8c8c8c;
	font-size: 14px;
}

.decor .d-content {
	margin-top: 10px;
}

.decor .d-case {
	float: left;
	width: 873px;
}

.decor .d-case > dl {
	float: left;
	width: 214px;
}

.decor .d-case > dl dd {
	padding: 10px 12px 5px 12px;
	text-align: center;
}

.decor .d-case > dl img {
	display: block;
	width: 214px;
	height: 130px;
}

.decor .d-case > dl h3 a {
	color: #333;
	font-size: 12px;
	font-weight: bold;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.decor .d-case > dl:hover h3 a {
	color: #f60;
}

.decor .d-case > dl p.article {
	margin-top: 5px;
	height: 32px;
	overflow: hidden;
}

.decor .d-case > dl p.article a {
	color: #8c8c8c;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.decor .d-case > dl p.article a:hover {
	color: #f60;
}


.decor .d-case .case01 {
	margin-bottom: 6px;
	width: 873px;
}

.decor .d-case .case01 dt {
	float: left;
}

.decor .d-case .case01 dd {
	padding: 0;
	float: left;
	width: 523px;
}

.decor .d-case .inner {
	padding: 10px 12px 5px 12px;
}


.decor .case01 .inner {
	padding: 8px 10px 15px 10px;
}

.decor .d-case .case01 img {
	display: block;
	width: 350px;
	height: 250px;
}

.decor .d-case .case01 h3 a {	
	color: #333;
	font-weight: normal;
	font-size: 18px;
	text-align: center;
	line-height: 58px;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.decor .d-case .case01 h3 a:hover {
	color: #f60;
}

.decor .case01 dt {
	position: relative;
}

.decor i {
	position: absolute;
	z-index: 1;
	left: 8px;
	top: -4px;
	width: 114px;
	height: 69px;
	color: #573c29;
	font-size: 16px;
	text-align: center;
	line-height: 88px;
	text-shadow: 0px 1px 1px #fff;	
	background: url(../images/index_bg_2014.png) no-repeat 0 -273px;;
}

.decor .d-case .case01 p.article {
	width: 503px;
	height: 116px;
	text-indent: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.decor .case01 p.article span {
	display: block;
	text-align: left;
	text-indent: 28px;
}

.decor .case01 p.article a {
	color: #8c8c8c;
	font-size: 14px;
	line-height: 24px;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.decor .case01 p.article a:hover {
	color: #f60;
}

.decor .case01 p.hot {
	margin-top: 18px;
	width: 510px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #E4D3B7;
	overflow: hidden;
}

.decor .case01 p.hot a {
	margin: 0 5px;
	color: #333;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.decor .case01 p.hot a:hover {
	color: #f60;
}

.mr5 {
	margin-right: 5px;
}

.d-aside {
	margin-left: 12px;
	float: left;
	width: 305px;
	height: 456px;
}

.d-topic {
	position: relative;
	float: left;
}

.d-topic-list {
	position: relative;
	z-index: 0;
	width: 304px;
	height: 226px;
	overflow: hidden;
}

.d-topic-list li {
	position: relative;
	text-align: center;
}

.d-topic-list .title {
	position: absolute;
	z-index: 1;
	left: 0;
	bottom: 0;
	margin-left: 5px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.d-topic-list li .bg {
	position: absolute;
	z-index: 0;
	left: 0;
	bottom: 0;
	display: block;
	width: 304px;
	height: 40px;
	background: #000;
	opacity: 0.7;
}

.d-topic-list li a {
	max-width: 290px;
	color: #fff;
	transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
}

.d-topic-list li a:hover {
	color: #f60;
}

.d-topic img {
	display: block;
	width: 304px;
	height: 226px;	
}

.d-topic .prev {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 50%;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	background: url(../images/index_bg_2014.png) no-repeat 0 -391px;
	opacity: .7;
}

.d-topic .next {
	position: absolute;
	z-index: 1;
	right: 0;
	top: 50%;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	background: url(../images/index_bg_2014.png) no-repeat -41px -391px;
	opacity: .7;
}

.d-hot {
	position: relative;
	margin-top: 7px;
	float: left;
	width: 304px;
	height: 223px;
	background: url(../images/example.jpg);
}

.d-hot img {
	width: 304px;
	height: 223px;
}

.d-h-list {
	position: absolute;
	bottom: 0;
	padding: 13px 36px 10px 36px;
	width: 230px;
	border: 1px solid #ccc;
	border-top: none;
	background: #fff;
}

.d-h-list li {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.d-h-list a {
	color: #333;
	font-size: 14px;
	line-height: 26px;
	transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	-webkit-transition: color 0.2s linear;
}

.d-h-list a:hover {
	color: #f60;
}


/* 装修汇结束 */


/* 评论开始 */

.mr9 {
	margin-right: 9px;
}

.comment {
	border: 1px solid #ccc;
	margin-bottom: 46px;
}

.c-voice {
	position: relative;
	float: left;
	width: 890px;
	border-right: 1px solid #ccc;
}

.c-voice h1 {
	float: left;
	width: 890px;
	height: 80px;
	text-align: left;
}

p.c-v-title {
	margin: 4px 0 0 29px;
}

p.c-v-title img {
	float: left;
	width: 120px;
	height: 80px;
}

p.c-v-title b {
	float: left;
	padding-left: 10px;
	width: 154px;
	color: #f60;
	font-size: 18px;
	font-weight: bold;
	line-height: 80px;
}

.c-v-content {
	width: 890px;
	height: 304px;
	border-right: 1px solid #ccc;
	overflow: hidden;
}

.c-v-content .tempWrap {
	/*为superslide设置的css样式*/
	margin: 13px 16px 9px 38px;
}

.c-v-content .content-list {
	margin: 13px 16px 9px 38px;
    width: 829px;
    height: 274px;
    overflow: hidden;
}

.c-v-content .content-list li {
	margin-left: -9px;
	float: left;
	height: 274px;
}

.c-v-content dl {
	margin-left: 9px;
	float: left;
	width: 198px;
	height: 272px;
	border: 1px solid #ccc;
}

.c-v-content dl .inner {
	padding: 10px 10px 0px 10px;
}

.c-v-content dl:hover {
	border-color: #f60;
}

.c-v-content dl dd {
	margin-top: 9px;
	width: 180px;
	height: 105px;
	color: #333;
	line-height: 20px;
	overflow: hidden;
}

.c-v-content dl p {
	padding: 0px 10px;
	color: #8c8c8c;
	line-height: 14px;
	text-align: right;
}

.c-v-content dl b {
	color: #8c8c8c;
	font-weight: normal;
}

.c-v-content dl em {
	color: #f60;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
}

.c-v-content img {
	display: block;
	width: 180px;
	height: 120px;
}

.c-v-content .point-list {
	position: absolute;
	right: 24px;
	top: 36px;
	text-align: center;
}

.point-list li {
	float: left;
	margin-left: 10px;
}

.point-list li a {
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #FFDFC9;
}

.point-list li a:hover {
	background: #f60;
}

.point-list .on a {
	background: #f60;
}

.c-latest {
	float: left;
	width: 299px;
}

.c-latest h2 {
	height: 39px;
	border-bottom: 1px solid #ccc;
	font-weight: 600;
	color: #333;
	font-size: 14px;
	text-align: center;
	line-height: 40px;
}

.c-l-content {
	margin: 20px auto 15px;
	width: 277px;
	height: 309px;
	overflow: hidden;
}

.c-l-content .c-l-bd {
	float: left;
}

.c-l-content dl {
	float: left;
	margin-bottom: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.c-l-content dl dt {
	float: left;
}

.c-l-content dl dt img {
	display: block;
	width: 140px;
	height: 93px;
}

.c-l-content dl dd {
	padding: 22px 0 6px 10px;
	float: left;
	width: 127px;
	height: 64px;
}

.c-l-content p {
	line-height: 18px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
}

.c-l-content em {
	color: #f60;
}

.c-l-content span {
	color: #8c8c8c;
}

.c-l-content b {
	color: #333;
	font-weight: normal;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.c-l-content a:hover b {
	color: #f60;
}


/* 评论结束 */


/* 证书开始 */
.credit {
	margin-bottom: 48px;
}

.cre-list {
	zoom: 1;
	margin-left: -11px;
}

.cre-list li {
	position: relative;
	float: left;
	margin-left: 10px;
}

.cre-list a:hover .cre-hide-list {
	display: block;
}

.cre-list li img {
	display: block;
	width: 290px;
	height: 100px;
}

.cre-hide-list {
	position: absolute;
	top: 100px;
	display: none;
	width: 650px;
	height: 159px;
}

.cre-hide-list i {
	position: absolute;
	z-index: 1;
	width: 23px;
	height: 11px;
	background: url(../images/index_bg_2014.png) no-repeat 0 -434px;	
}

.cre-hide-list .cre-hide {
	position: absolute;
	margin-top: 10px;
	width: 648px;
	height: 147px;	
	border: 1px solid #ccc;
	background: #FFEEC1;	
}

.cre-hide-list .inner {
	margin-left: -10px;
	padding: 7px 14px;
}

.cre-hide-list li img {
	width: 200px;
	height: 130px;
}

.r0 {
	right: 0;
}

.l0 {
	left: 0;
}

.l133 {
	left: 133px;
}

.r133 {
	right: 133px;
}


/* 证书结束 */


/* 保障开始 */

.guarantee {
	margin-bottom: 25px;
	padding: 12px 0;
	background: #2F6CEB;
}

.gua-list {
	float: left;
	color: #fff;
	font-size: 18px;
}

.gua-list dl {
	display: block;
	float: left;
	margin-left: 80px;
	width: 108px;
	text-align: center;
}

.gua-list dl dt {
	height: 34px;
}

.gua-list i {
	background: url(../images/index_bg_2014.png) no-repeat;
}

.gua-list .icon_1 {
	width: 42px;
  	height: 23px;
	background-position: -80px -385px;
}

.gua-list .icon_2 {
	width: 33px;
	height: 23px;
	background-position: -126px -385px;
}

.gua-list .icon_3 {
	width: 30px;
	height: 28px;
	background-position: -162px -385px;
}

.gua-list .icon_4 {
	width: 31px;
	height: 25px;
	background-position: -194px -385px;
}

.gua-list .icon_5 {
	width: 30px;
	height: 26px;
	background-position: -80px -353px;
}

.gua-list .icon_6 {
	width: 26px;
	height: 27px;
	background-position: -207px -353px;
}

.gua-list .ml70 {
	margin-left: 70px;
}


/* 保障结束 */


/* 底部开始 */

.footer-service {
	margin: 0 auto;
	width: 1190px;
	height: 137px;
}

.help-list {
	margin-left: -7px;
	float: left;
	width: 670px;
}

.help-list dl {
	margin-left: 24px;
	float: left;
	width: 110px;
}

.help-list a:hover {
	color: #f60;
}

.help-list dt a {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;	
	-o-transition: color 0.1s linear;	
	-webkit-transition: color 0.1s linear;	
}

.help-list dd a {
	color: #8c8c8c;
	line-height: 24px;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;	
	-o-transition: color 0.1s linear;	
	-webkit-transition: color 0.1s linear;	
}

.foot-contact {
	margin: 0 20px 0 20px;
	float: left;
	color: #8c8c8c;
	font-size: 14px;
	line-height: 26px;
}

.foot-contact .tel {
	color: #f60;
	font-size: 24px;
	font-weight: bold;
}

.foot-wechat {
	padding-left: 30px;
	float: left;
	border-left: 1px solid #ccc;
}

.foot-wechat dt {
	float: left;
	width: 91px;
	height: 91px;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='D:/workspace/sublime/HeungKong/20150721/kinhom/images/2d.png', sizingMethod='scale');
	background-image: url(../images/2d.png);
	background-size: 100%;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
}

.foot-wechat dd {
	padding-left: 10px;
	margin-top: 56px;
	float: left;
	color: #8c8c8c;
	line-height: 18px;
}

.copyright {
	margin-bottom: 10px;
	float: left;
	width: 100%;
	text-align: center;
	line-height: 16px;
}

.copyright p {
	line-height: 20px;
}

.copyright a {
	color: #8c8c8c;
	transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	-webkit-transition: color 0.1s linear;
}

.copyright a:hover {
	color: #f60;
}

.foot-icon {
	margin-bottom: 70px;
	float: left;
	width: 100%;
	text-align: center;
}

.foot-icon .gov {
	margin-right: 130px;
}

.foot-icon .gov img {
	margin-left: -3px;
	width: 36px;
	height: 50px;
}

.foot-icon .cn {
	margin-right: 10px;
}

.foot-icon .cn img {
	margin-left: -3px;
	width: 108px;
	height: 40px;
}

.foot-icon .ceca img {
	width: 112px;
	height: 40px;
}


/* 底部结束 */

